<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Models</title>
    <link rel="stylesheet" type="text/css" href="/img/styles.css">
</head>
<body>
    <div class="container">
        <div class="top-row"></div>
        <img src="/img/logo.png" alt="logo">
        <div class="search-container">
            <h2>Search Car Models</h2>
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search...">
                <input type="text" name="year" placeholder="Year (optional)">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="compare-container">
            <h2>Select Car Models for Comparison</h2>
            <form action="/compare" method="post">
                <select name="carModelID1">
                    <option disabled selected>Select first car</option>
                    {{range .CarModels}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                <select name="carModelID2">
                    <option disabled selected>Select second car</option>
                    {{range .CarModels}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
                <button type="submit">Compare</button>
            </form>
        </div>    
    </div>
</body>
</html>
